*{
    margin: 0px;
}
body{
    height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, #00293d, #00111a);
}
main{
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    margin-left: 20px;
    margin-top: 35px;
}
#text{
    width: 300px;
    padding: 20px;
    padding-bottom: 90px;
    resize: vertical;
}
#submit_text{
    border-radius: 4px;
    background-color: #13678A;
    color: white;
    border: none;
    width: 70px;
    height: 30px;
    margin-top: 17px;
}
#submit_text:hover{
    background-color: #13668ac4;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.726);
}